<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>create new restaurant</title>
</head>
<body>
<form action="/new" method="post"  enctype="multipart/form-data">
    <p>
        <input name="name" type="text" value="name_dings">
        <label>Name</label>
    </p>
    <p>
        <input name="borough" type="text" value="borough_dings">
        <label>Borough</label>
    </p>
    <p>
        <input name="cuisine" type="text" value="cuisine_dings">
        <label>Cuisine</label>
    </p>
    <p>
        <input name="street" type="text" value="street_dings">
        <label>Street</label>
    </p>
    <p>
        <input name="building" type="text" value="building_dings">
        <label>Building</label>
    </p>
    <p>
        <input name="zipcode" type="text" value="zipcode_dings">
        <label>zip code</label>
    </p>
    <p>
        <input name="lon" type="text" value="22.28">
        <label>GPS Coordinates (lon.)</label>
    </p>
    <p>
        <input name="lat" type="text" value="114.17">
        <label>GPS Coordinates (lat.)</label>
    </p>
    <p>
        <input name="sampleFile" type="file">
        <label>Photo</label>
    </p>
    <p>
        <input type="submit" value="create">
    </p>
</form>
</body>
</html>